@font-face { font-family: CMUSerif; src: url('CMU\ Serif\ Roman.ttf'); } 
* {
    font-family:  CMUSerif;
    margin: 0;
    padding: 0;
}
html{
    max-width: 100%;
    height: 100%;
    display: flex;
    margin-left: 24px;
    /* justify-content: center; */
}
body {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
header {
    /* padding: 5px;
    padding-left: 10px;
    padding-right: 10px; */
    /* border-top: dotted;
    border-bottom: dotted; */
    border-width: 2px;
    border-color:#880015;
}
main {
    flex-grow: 1;
}
footer{
    padding-bottom: 10px;
}
img {
    max-width: 100%
}
/* Control link color */
a:link, a:visited {
  color: #880015;
}
a:hover {
  color: blue;
}
.secretlink {
    color: black;
}
.nodecoration {
    text-decoration: none;
}

.coldsky {
    background-color: #dcfcfc;
}
.daylight {
    background-color: #f5ecd3;
}
.forest {
    background-color: #becab5;
    color: #0c2e0b;
}
.overcast {
    background-color: #d3d3d3;
}

/* Set max width of the hand art image on the homepage*/
#hands {
    max-width: 100%;
}
#biking {
    max-width: 100%;
}
/* Header formatting, using flexbox */
.flexrow {
    display: flex;
    flex-flow: row;
}
.flexjustified {
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
}
#nametag {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* width: 50%; */
    color: #1d1815;

}
#toplinks {
    display: flex;
    /* width: 25%; */
    text-align: left;
    padding-left: 14px;
    justify-content: center;
}

.bloglink {
    font-size: large;
    /* border: dotted;
    border-width: 2px; */
    /* padding: 10px; */
    img {
        max-width: 200px;
        padding-right: 20px;
    }
    h2 {
        flex-grow: 1;
        text-align: left;
        font-size: large;
    }
    p {
        font-size: medium;
    }
}

.separateitem {
    margin-top: 24px;
}

.fade {
    color: #880015; /* Fallback for older browsers */
    color: rgba(88, 0, 15, 0.5);
    opacity: 50%;
}