@font-face { font-family: CMUSerif; src: url('CMU\ Serif\ Roman.ttf'); } 
@font-face { font-family: CMUTypewriter; src: url('CMU\ Typewriter\ Text\ Variable\ Width.ttf');}

* {
    font-family:  CMUSerif;
    background-color: #f5ecd3;
    margin: 0;
    padding: 0;
}
html{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    max-width: 800px;
    flex-direction: column;
    height: 100%;
}
header {
    /* padding: 5px;
    padding-left: 10px;
    padding-right: 10px; */
    margin-top: 5px;
    margin-bottom: 10px;
    /* border-top: dotted;
    border-bottom: dotted; */
    border-width: 2px;
    border-color:#880015;
}
main {
    flex-grow: 1;
}
footer{
    padding-bottom: 10px;
}
img {
    max-width: 100%
}
/* Control link color */
a:link, a:visited {
  color: #880015;
  text-decoration: none;
}
a:hover {
  color: blue;
}

/* Set max width of the hand art image on the homepage*/
#hands {
    max-width: 500px;
}
/* Header formatting, using flexbox */
.flexrow {
    display: flex;
    flex-flow: row;
}
.flexjustified {
    justify-content: space-between;
}
.col {
    display: flex;
    flex-direction: column;
}
#nametag {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    /* width: 50%; */
    color: #1d1815;

}
#toplinks {
    display: flex;
    /* width: 25%; */
    text-align: left;
    padding-left: 16px;
}

.fade {
    color: #880015; /* Fallback for older browsers */
    color: rgba(88, 0, 15, 0.5);
    opacity: 50%;
}